.button{
    -fx-text-fill: #ffffff;
    -fx-border-color: #17577c;
    -fx-font-size: 13pt;
}

.button:hover{
    -fx-border-color: #081e2b;
    -fx-background-color: #0d2e42;
    -fx-text-fill: #ffffff;
}
.label {
    -fx-font-size: 15px;
    -fx-font-weight: regular;
    -fx-text-fill: #111111;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}