/*
 * Empty Stylesheet file.
 */
.drawer-buttons{
    -fx-background-color: rgb(240, 240, 240);
    -fx-text-alignment: left;
    -fx-text-fill: #222d32;
     -fx-font-size:14px;
    -fx-padding: 0 0 0 30;
    -fx-alignment:left ;
}
.drawer-buttons:hover{
    -fx-background-color:#cccccc;
   
}

/*Card and its components*/
.card {
    -fx-background-color: rgb(255.0, 255.0, 255.0);
    -fx-background-radius: 4.0;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 6.0, 0.7, 0.0,1.5);
    -fx-padding: 16 16 16 16;
}
.card-unpadded {
    -fx-background-color: rgb(255.0, 255.0, 255.0);
    -fx-background-radius: 4.0;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 6.0, 0.7, 0.0,
        1.5);
    -fx-padding: 0 0 0 0;
}

.card-title {
    -fx-font-size: 20.0px;
    -fx-padding: 5 0 5 0;
}

.card-title .text {
    -fx-fill: -fx-text-title-color;
}

.card-subtitle {
    -fx-font-size: 16.0px;
    -fx-padding: 5 0 5 0;
}

.card-subtitle .text {
    -fx-fill: -fx-text-subtitle-color;
}