.button{
    -fx-text-fill: #e0d9d9;
    -fx-background-color: #081B33;
    -fx-border-color: #081B33;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-font-size: 13pt;
}

.button:hover{
    -fx-border-color: #DAF7A6;
    -fx-background-color: #DAF7A6;
    -fx-text-fill: #081B33;
}